@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import '../../node_modules/bulma/sass/base/animations.scss';
@import '../../node_modules/bulma/sass/base/generic.scss';
@import '../../node_modules/bulma/sass/base/minireset.scss';
@import '../../node_modules/bulma/sass/base/skeleton.scss';
@import '../../node_modules/bulma/sass/utilities/controls.scss';
@import '../../node_modules/bulma/sass/utilities/css-variables.scss';
@import '../../node_modules/bulma/sass/utilities/derived-variables.scss';
@import '../../node_modules/bulma/sass/utilities/extends.scss';
@import '../../node_modules/bulma/sass/utilities/functions.scss';
@import '../../node_modules/bulma/sass/utilities/initial-variables.scss';
@import '../../node_modules/bulma/sass/utilities/mixins.scss';
@import '../../node_modules/bulma/sass/components/navbar.scss';
@import '../../node_modules/bulma/sass/layout/container.scss';
@import '../../node_modules/bulma/sass/layout/footer.scss';
@import '../../node_modules/bulma/sass/grid/index';
@import '../../node_modules/bulma/sass/components/card.scss';
@import '../../node_modules/bulma/sass/layout/hero.scss';

$LightgreyColor: #f6f6f6;
$DarkGreyColor: #D2D9E2;
$NormalGreyColor: #cccccc;
$primaryColor: #477dea;

body{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: $DarkGreyColor;
}
.navbar{
    position: fixed;
    top: 0px;
    background: white;
    border-bottom: 1px solid $NormalGreyColor;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.navbar-brand{
    .navbar-item{
        @media screen and (max-width: 500px) { padding: 0.2rem 0.3rem;}
        img{
            @media screen and (max-width: 1020px) { width: 160px !important;} 
            @media screen and (max-width: 500px) { width: 120px !important;} 
        }
    }
}
.navbar-menu{
   font-size: 2.7vh !important;
   @media screen and (max-width: 1020px) { flex-grow: 1; flex-shrink: 0;}
   @media screen and (max-width: 500px) {  font-size: 10px; font-size: 2.4vh !important;}
}
.navbar, .navbar-menu, .navbar-start, .navbar-end {
    @media screen and (max-width: 1020px) {  align-items: stretch; display: flex;}
}
.menu-active, .navbar-item:hover{ background-color: $primaryColor !important; color: white;}
.navbar-brand .navbar-item:hover{ background-color: white !important;}
.main-container{
    margin-top: 75px !important;
    margin-left: 0px !important;
}
.candle-grid-holder{
    width: 96%;
    margin-left: 2%;
    margin-top: 30px;
    background: $LightgreyColor;
    padding: 12px;
    font-size: 12px;
    font-weight: 400;
    @media only screen and (min-width:600px) and (max-width:800px){width: 50% !important;}
    @media only screen and (min-width:801px) and (max-width:1020px){width: 45% !important;}
    @media only screen and (min-width:1021px) and (max-width:4000px){width: 40% !important;}
}
.fixed-grid{
    
    .grid{
        padding: 12px;
        background: white;
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        .cell{
            border-bottom: 1px solid rgba(71, 125, 234, .1);
            
        }
    }
}
.grid:first-child{margin-top: 80px !important;}

.loading-not-visible{ display: none !important; }
.loading-visible{ display:inline-block !important; }
#loading-holder{  
    width: 100% !important;
    height: auto;
    text-align: center;
    #loading{ 
        position: relative;
        width: 30px;
    }
}
.next-prev-button{
    cursor: pointer;
    padding: 7px;
    display: inline-block;
    
}
#next{ float:right;}
#prev{ float:left;}

.not-clickable{
    color: $DarkGreyColor;
    background: $LightgreyColor;
    pointer-events:none;
    border: 1px solid $NormalGreyColor;
}

.clickable{
    color: $primaryColor;
    background: white;
    pointer-events:all;
    border: 1px solid $primaryColor;
}
.clickable:hover{
    background: $primaryColor !important;
    color: white;
}
#pagination{
    margin-top: 30px;
}
.page-counter{
    padding: 7px;
    display: inline-block;
    width: auto;
    font-weight: 500;
    color: $primaryColor;
}
.top-hero{
    top: 0px;
    position: fixed;
    width: 96% !important;
    .hero-body{
        .title{font-size: 19px; font-weight: 500;}
        .subtitle{font-size: 14px; font-weight: 400; color: $primaryColor;}
    }
}
.footer{
    font-size: 12px;
    color: $primaryColor;
}